@import url('https://fonts.googleapis.com/css2?family=Honk&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
}

body {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    color: #333333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
    padding-right: 20px;
    gap: 25%;
    border-right: 2px solid #cccccc;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 80px;
    margin-bottom: 10px;
}

nav ul li {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding: 20px 50px;
    border-radius: 20px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #f5f5f5;
}

nav ul li a {
    width: 100px;
    color: #333333;
}

.active {
    background-color: #757de8;
    color: #FFFFFF;
}

.active:hover{
    background-color: #757de8;
}

.activeColor {
    color: #FFFFFF;
}


main {
    width: 100%;
    height: 100%;
}

/* Caixa de Alerta */

#alertBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -50%);
    width: 600px;
    height: 200px;
    padding: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    color: #333333;
}

#alertBox-btn {
    width: 120px;
    height: 40px;
    background-color: #757de8;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    border-bottom: 4px solid #3F51B5;
}

#alertBox-btn:active {
    border: none;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: #757de8;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid #3F51B5;
}

.btn:active {
    border: none;
}


/* Home */

#home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    margin: 30px;
}

.div1 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.div2 {
    width: 100%;
    height: 70%;
}

.time {
    height: 60%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hours {
    width: 80%;
    margin: 20px;
    font-size: 100px;
    text-align: center;
}

.registered {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 24px;
}

.totalContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

#color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#total {
    font-size: 50px;
    font-weight: bold;
}

.weather {
    position: relative;
    height: 100%;
    margin: 0 60px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#search {
    position: absolute;
    top: 0;
    right: 0;
    margin: 35px 20px 0 0;
}

#search span {
    font-size: 30px;
    cursor: pointer;
}

#search:active{
    transition: all 0.3s ease;
    transform: scale(1.4);
}

#searchInput {
    top: 0;
    left: 0;
    margin-bottom: 20px ;
    width: 80%;
    height: 8%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #cccccc;
}

.title {
    font-size: 60px;
}

#local {
    font-size: 30px;
    text-align: center;
}

.img {
    width: 200px;
    margin: 30px;
}

.temperature {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.temperature span {
    font-size: 30px;
}

#degrees {
    font-size: 100px;
    text-align: center;
}

/* toManage */

#toManage {
    height: 100%;
}

.list-person{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin: 30px;
}

.person {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.person div {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.person p {
    width: 250px;;
    display: flex;
}

.person span {
    padding-right: 10px;
    font-weight: bold;
}



/* Register */

#register {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#register h2 {
    margin-bottom: 80px;
}

form {
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    padding-bottom: 10px;
    color: #5c5c5c;
    cursor: pointer;
}

form input {
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    border:1px solid #cccccc;
    padding: 10px;
    text-align: center;
    color: #5c5c5c;
    font-size: 16px;
}

form select {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    border:1px solid #cccccc;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    color:#5c5c5c;
    cursor: pointer;
}

#submit {
    width: 20%;
    margin: 20px;
    height: 50px;
    background-color: #757de8;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    border-bottom: 4px solid #3F51B5;
}

#submit:active {
    border: none;
}



/* Lista de funcionarios */

.list-employees {
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

#employees {
    height: 100%;
}

.employees {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.employees div {
    display: flex;
    align-items: center;
}

.employees p {
    width: 250px !important;
}

#age-list{
    max-width: 150px;
}

.employees span {
    padding-right: 10px;
    font-weight: bold;
}

.hidden {
    display: none !important;
}


@media screen and (max-width: 1200px) {
    #home {
        display: flex;
        gap: 40px;
    }

    .div1 {
        height: 65%;
    }

    .div2 {
        height: 65%;
    }

    .time {
        height: 50%;
    }

    .hours {
        font-size: 80px;
    }

    .registered {
        height: 20%;
    }

    .weather {
        margin: 0;
    }

    .list-person{
        width: 98%;
        margin: 10px;
    }
    
    .person {
        width: 100%;
        margin: 0;
    }
    
    .person div {
        width: 100%;
        padding: 0;
        gap: 10px;
    }
    
    .person p {
        width: 200px;
        margin: 0;
        padding: 0;
        gap: 0px;
    }

    .list-employees{
        width: 98%;
        margin: 10px;
    }

    .employees{
        width: 100%;
        padding: 10px;
    }

    .employees div{
        width: 100%;
    }
    
    .employees p {
        width: 220px !important;
    }

    #age-list{
        max-width: 100px;
    }
}